nav {
  background-color: rgb(56, 62, 66);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px turquoise;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: turquoise;
  font-weight: 500;
  font-size: 21px;
  text-shadow: 0.8px 0.8px 0.8px #ffffff;
}

.links-container {
  display: flex;
  column-gap: 1.5rem;
}
